DB_ENGINE=postgresql
DB_NAME=sivigila_maternidad
DB_USER=postgres
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432

# Solo si usas el script migrate_data_mysql_to_postgres.py:
# MYSQL_USER=root
# MYSQL_PASSWORD=tu_password_mysql
# MYSQL_HOST=localhost
# MYSQL_PORT=3306
# MYSQL_DB=nombre_base_mysql
