@import "tailwindcss";

@theme {
    --font-sans: 'Google Sans', sans-serif;
    /* Colores para resaltar elementos clave */
    --color-brand-deep: #290764;      /* Títulos principales y números clave */
    --color-brand-violet: #4b0453;    /* Subtítulos o íconos */
    --color-brand-magenta: #89005e;   /* Botones principales y alertas de IA */
}

/* Fondo principal limpio */
body {
    background-color: #ffffff;
    color: #1b1e28;
}
